In [3]:
import pandas as pd
import numpy as np

In [7]:

df = pd.read_csv("test_fd001.txt", sep=" ")
df

,1,1.1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,8125.55,8.4052,0.03,392,2388,100.00,38.86,23.3735,Unnamed: 26,Unnamed: 27
0,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,NaN,NaN
1,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,NaN,NaN
2,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,NaN,NaN
3,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,NaN,NaN
4,1,6,0.0012,0.0003,100.0,518.67,642.11,1579.12,1395.13,14.62,...,8127.46,8.4238,0.03,392,2388,100.0,38.91,23.3467,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13090,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974,NaN,NaN
13091,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771,NaN,NaN
13092,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051,NaN,NaN
13093,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699,NaN,NaN
13094,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855,NaN,NaN

In [28]:
df2 = pd.read_csv("test_fd002.txt",sep=" ")
df2

,1,1.1,9.9987,0.2502,100.0,489.05,605.03,1497.17,1304.99,10.52,...,8114.10,8.6476,0.03,369,2319,100.00,28.42,17.1551,Unnamed: 26,Unnamed: 27
0,1,2,20.0026,0.7000,100.0,491.19,607.82,1481.20,1246.11,9.35,...,8053.06,9.2405,0.02,364,2324,100.00,24.29,14.8039,NaN,NaN
1,1,3,35.0045,0.8400,100.0,449.44,556.00,1359.08,1128.36,5.48,...,8053.04,9.3472,0.02,333,2223,100.00,14.98,8.9125,NaN,NaN
2,1,4,42.0066,0.8410,100.0,445.00,550.17,1349.69,1127.89,3.91,...,8066.90,9.3961,0.02,332,2212,100.00,10.35,6.4181,NaN,NaN
3,1,5,24.9985,0.6213,60.0,462.54,536.72,1253.18,1050.69,7.05,...,7865.66,10.8682,0.02,305,1915,84.93,14.31,8.5740,NaN,NaN
4,1,6,25.0006,0.6206,60.0,462.54,536.62,1258.90,1047.35,7.05,...,7859.98,10.9378,0.02,307,1915,84.93,14.26,8.4941,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33985,259,119,35.0015,0.8403,100.0,449.44,555.56,1366.01,1129.47,5.48,...,8088.36,9.3215,0.02,334,2223,100.00,14.94,8.9065,NaN,NaN
33986,259,120,42.0066,0.8405,100.0,445.00,549.42,1351.13,1123.86,3.91,...,8108.48,9.3542,0.02,332,2212,100.00,10.57,6.4075,NaN,NaN
33987,259,121,42.0061,0.8400,100.0,445.00,549.65,1349.14,1118.91,3.91,...,8098.77,9.3836,0.02,331,2212,100.00,10.57,6.4805,NaN,NaN
33988,259,122,0.0024,0.0003,100.0,518.67,642.58,1589.61,1408.16,14.62,...,8161.85,8.4279,0.03,393,2388,100.00,39.08,23.3589,NaN,NaN
33989,259,123,42.0033,0.8400,100.0,445.00,549.77,1342.50,1126.96,3.91,...,8105.28,9.3458,0.02,331,2212,100.00,10.63,6.3480,NaN,NaN

In [18]:
def read_data():
    import os
    cwd=os.getcwd()

    columns = ['split_index', 'time_in_cycles', 'setting_1', 'setting_2', 'TRA', 'FanInTemp', 'LPCompOT', 'HPCompOT',
               'LPTurbineOT', 'FanInP', 'BypassDuctP', 'HPCompOP', 'PhyFanSpeed', 'PhyCoreSpeed',
               'EngPreRatio', 'HPCOStaticPre', 'RFuelFlow', 'CorrectedFanSpeed', 'CorrectedCoreSpeed', 'BypassRatio',
               'BurnerFuelAirRatio', 'BleedEnthalpy', 'ReqFanSpeed', 'ReqFanConvSpeed', 'HPTurbineCoolAirFlow',
               'LPTurbineAirFlow']
    fd_001_test=pd.read_csv("test_fd001.txt",sep=" ",header=None)
    fd_002_test = pd.read_csv("test_fd002.txt", sep=" ", header=None)
    fd_003_test = pd.read_csv("test_fd003.txt", sep=" ", header=None)
    fd_004_test = pd.read_csv("test_fd004.txt", sep=" ", header=None)
    #RUL_1=pd.read_csv(cwd+r"\CMaps\RUL_FD001.txt",sep=" ",header=None)

    #Nan columns
    fd_001_test.drop(columns=[26, 27], inplace=True)
    fd_002_test.drop(columns=[26, 27], inplace=True)
    fd_003_test.drop(columns=[26, 27], inplace=True)
    fd_004_test.drop(columns=[26, 27], inplace=True)

    #RUL_1.drop(columns=[1],inplace=True)

    fd_001_test.columns=columns
    fd_002_test.columns=columns
    fd_003_test.columns=columns
    fd_004_test.columns=columns


    fd_002_test["split_index"] += 100
    fd_003_test["split_index"] += 359
    fd_004_test["split_index"] += 459


    frames = [fd_001_test, fd_002_test ,fd_003_test, fd_004_test]
    result = pd.concat(frames,ignore_index=True)
    fd_002_test["split_index"] -= 100
    fd_003_test["split_index"] -= 359
    fd_004_test["split_index"] -= 459
    frames = [fd_001_test["split_index"],fd_002_test["split_index"] , fd_003_test["split_index"], fd_004_test["split_index"]]
    split_index = pd.concat(frames,ignore_index=True)
    result.insert(loc = 1,
          column = 'unit_number',
          value = split_index)
    print(result)
    return fd_001_test,fd_002_test,fd_003_test,fd_004_test,result

In [19]:
test_1,test_2,test_3,test_4,result=read_data()

        split_index  unit_number  time_in_cycles  setting_1  setting_2    TRA
0                 1            1               1     0.0023     0.0003  100.0  \
1                 1            1               2    -0.0027    -0.0003  100.0
2                 1            1               3     0.0003     0.0001  100.0
3                 1            1               4     0.0042     0.0000  100.0
4                 1            1               5     0.0014     0.0000  100.0
...             ...          ...             ...        ...        ...    ...
104892          707          248             277    41.9991     0.8401  100.0
104893          707          248             278    20.0026     0.7005  100.0
104894          707          248             279    34.9988     0.8413  100.0
104895          707          248             280    20.0027     0.7000  100.0
104896          707          248             281    35.0075     0.8402  100.0

        FanInTemp  LPCompOT  HPCompOT  LPTurbineOT  ...  RFuelFlow
0          518.67    643.02   1585.29      1398.21  ...     521.72  \
1          518.67    641.71   1588.45      1395.42  ...     522.16
2          518.67    642.46   1586.94      1401.34  ...     521.97
3          518.67    642.44   1584.12      1406.42  ...     521.38
4          518.67    642.51   1587.19      1401.92  ...     522.15
...           ...       ...       ...          ...  ...        ...
104892     445.00    550.30   1364.40      1129.17  ...     130.87
104893     491.19    608.00   1494.75      1260.88  ...     314.51
104894     449.44    555.92   1370.65      1130.97  ...     182.76
104895     491.19    608.19   1489.11      1256.25  ...     314.17
104896     449.44    556.40   1378.58      1140.70  ...     181.88

        CorrectedFanSpeed  CorrectedCoreSpeed  BypassRatio
0                 2388.03             8125.55       8.4052  \
1                 2388.06             8139.62       8.3803
2                 2388.03             8130.10       8.4441
3                 2388.05             8132.90       8.3917
4                 2388.03             8129.54       8.4031
...                   ...                 ...          ...
104892            2388.50             8112.61       9.4427
104893            2388.33             8086.83       9.2772
104894            2388.64             8100.84       9.3982
104895            2388.37             8085.24       9.2727
104896            2388.59             8098.17       9.3964

        BurnerFuelAirRatio  BleedEnthalpy  ReqFanSpeed  ReqFanConvSpeed
0                     0.03            392         2388            100.0  \
1                     0.03            393         2388            100.0
2                     0.03            393         2388            100.0
3                     0.03            391         2388            100.0
4                     0.03            390         2388            100.0
...                    ...            ...          ...              ...
104892                0.02            331         2212            100.0
104893                0.02            366         2324            100.0
104894                0.02            336         2223            100.0
104895                0.03            366         2324            100.0
104896                0.02            335         2223            100.0

        HPTurbineCoolAirFlow  LPTurbineAirFlow
0                      38.86           23.3735
1                      39.02           23.3916
2                      39.08           23.4166
3                      39.00           23.3737
4                      38.99           23.4130
...                      ...               ...
104892                 10.53            6.2620
104893                 24.33           14.6486
104894                 14.69            8.8389
104895                 24.44           14.6887
104896                 14.72            8.8502

[104897 rows x 27 columns]

In [6]:
result[result['unit_number']==359]

Empty DataFrame
Columns: [split_index, unit_number, time_in_cycles, setting_1, setting_2, TRA, FanInTemp, LPCompOT, HPCompOT, LPTurbineOT, FanInP, BypassDuctP, HPCompOP, PhyFanSpeed, PhyCoreSpeed, EngPreRatio, HPCOStaticPre, RFuelFlow, CorrectedFanSpeed, CorrectedCoreSpeed, BypassRatio, BurnerFuelAirRatio, BleedEnthalpy, ReqFanSpeed, ReqFanConvSpeed, HPTurbineCoolAirFlow, LPTurbineAirFlow]
Index: []

[0 rows x 27 columns]

In [48]:
test_2[test_2['unit_number']==359]

,unit_number,time_in_cycles,setting_1,setting_2,TRA,FanInTemp,LPCompOT,HPCompOT,LPTurbineOT,FanInP,...,RFuelFlow,CorrectedFanSpeed,CorrectedCoreSpeed,BypassRatio,BurnerFuelAirRatio,BleedEnthalpy,ReqFanSpeed,ReqFanConvSpeed,HPTurbineCoolAirFlow,LPTurbineAirFlow
33868,359,1,25.0067,0.6205,60.0,462.54,537.12,1260.62,1044.10,7.05,...,165.07,2028.14,7863.20,10.8914,0.02,307,1915,84.93,14.35,8.6820
33869,359,2,20.0076,0.7000,100.0,491.19,606.97,1481.95,1242.42,9.35,...,315.42,2388.03,8051.65,9.2030,0.02,364,2324,100.00,24.46,14.7139
33870,359,3,25.0036,0.6204,60.0,462.54,536.45,1257.82,1042.22,7.05,...,165.17,2028.14,7870.76,10.8259,0.02,305,1915,84.93,14.21,8.5043
33871,359,4,20.0031,0.7000,100.0,491.19,606.50,1484.88,1243.02,9.35,...,315.25,2388.02,8060.66,9.1934,0.02,363,2324,100.00,24.60,14.7180
33872,359,5,35.0010,0.8400,100.0,449.44,554.56,1356.19,1123.11,5.48,...,183.35,2387.88,8060.73,9.3082,0.02,333,2223,100.00,14.79,8.9632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33986,359,119,35.0015,0.8403,100.0,449.44,555.56,1366.01,1129.47,5.48,...,183.05,2388.39,8088.36,9.3215,0.02,334,2223,100.00,14.94,8.9065
33987,359,120,42.0066,0.8405,100.0,445.00,549.42,1351.13,1123.86,3.91,...,130.74,2388.31,8108.48,9.3542,0.02,332,2212,100.00,10.57,6.4075
33988,359,121,42.0061,0.8400,100.0,445.00,549.65,1349.14,1118.91,3.91,...,130.96,2388.34,8098.77,9.3836,0.02,331,2212,100.00,10.57,6.4805
33989,359,122,0.0024,0.0003,100.0,518.67,642.58,1589.61,1408.16,14.62,...,522.25,2388.00,8161.85,8.4279,0.03,393,2388,100.00,39.08,23.3589
33990,359,123,42.0033,0.8400,100.0,445.00,549.77,1342.50,1126.96,3.91,...,130.93,2388.40,8105.28,9.3458,0.02,331,2212,100.00,10.63,6.3480

In [20]:
frames = [pd.read_csv('test_fd001.txt'), df2]
result = pd.concat(frames,ignore_index=True)
df

,1,1.1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,8125.55,8.4052,0.03,392,2388,100.00,38.86,23.3735,Unnamed: 26,Unnamed: 27
0,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,NaN,NaN
1,101,103,100.0003,100.0001,200.0,618.67,742.46,1686.94,1501.34,114.62,...,8230.10,108.4441,100.03,493,2488,200.0,139.08,123.4166,NaN,NaN
2,101,104,100.0042,100.0000,200.0,618.67,742.44,1684.12,1506.42,114.62,...,8232.90,108.3917,100.03,491,2488,200.0,139.00,123.3737,NaN,NaN
3,101,105,100.0014,100.0000,200.0,618.67,742.51,1687.19,1501.92,114.62,...,8229.54,108.4031,100.03,490,2488,200.0,138.99,123.4130,NaN,NaN
4,101,106,100.0012,100.0003,200.0,618.67,742.11,1679.12,1495.13,114.62,...,8227.46,108.4238,100.03,492,2488,200.0,138.91,123.3467,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13090,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974,NaN,NaN
13091,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771,NaN,NaN
13092,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051,NaN,NaN
13093,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699,NaN,NaN
13094,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855,NaN,NaN

In [20]:
def read_data2():
    import os
    cwd=os.getcwd()

    columns = ['split_index', 'time_in_cycles', 'setting_1', 'setting_2', 'TRA', 'FanInTemp', 'LPCompOT', 'HPCompOT',
               'LPTurbineOT', 'FanInP', 'BypassDuctP', 'HPCompOP', 'PhyFanSpeed', 'PhyCoreSpeed',
               'EngPreRatio', 'HPCOStaticPre', 'RFuelFlow', 'CorrectedFanSpeed', 'CorrectedCoreSpeed', 'BypassRatio',
               'BurnerFuelAirRatio', 'BleedEnthalpy', 'ReqFanSpeed', 'ReqFanConvSpeed', 'HPTurbineCoolAirFlow',
               'LPTurbineAirFlow']
    fd_001_train=pd.read_csv("train_fd001.txt",sep=" ",header=None)
    fd_002_train= pd.read_csv("train_fd002.txt", sep=" ", header=None)
    fd_003_train= pd.read_csv("train_fd003.txt", sep=" ", header=None)
    fd_004_train= pd.read_csv("train_fd004.txt", sep=" ", header=None)
    #RUL_1=pd.read_csv(cwd+r"\CMaps\RUL_FD001.txt",sep=" ",header=None)

    #Nan columns
    fd_001_train.drop(columns=[26, 27], inplace=True)
    fd_002_train.drop(columns=[26, 27], inplace=True)
    fd_003_train.drop(columns=[26, 27], inplace=True)
    fd_004_train.drop(columns=[26, 27], inplace=True)

    #RUL_1.drop(columns=[1],inplace=True)

    fd_001_train.columns=columns
    fd_002_train.columns=columns
    fd_003_train.columns=columns
    fd_004_train.columns=columns


    fd_002_train["split_index"] += 100
    fd_003_train["split_index"] += 359
    fd_004_train["split_index"] += 459


    frames = [fd_001_train, fd_002_train ,fd_003_train, fd_004_train]
    result2 = pd.concat(frames,ignore_index=True)
    fd_002_train["split_index"] -= 100
    fd_003_train["split_index"] -= 359
    fd_004_train["split_index"] -= 459
    frames = [fd_001_train["split_index"],fd_002_train["split_index"] , fd_003_train["split_index"], fd_004_train["split_index"]]
    split_index = pd.concat(frames,ignore_index=True)
    result2.insert(loc = 1,
          column = 'unit_number',
          value = split_index)
    print(result2)
    return fd_001_train,fd_002_train,fd_003_train,fd_004_train,result2

In [21]:
train_1,train_2,train_3,train_4,result2=read_data2()

        split_index  unit_number  time_in_cycles  setting_1  setting_2    TRA
0                 1            1               1    -0.0007    -0.0004  100.0  \
1                 1            1               2     0.0019    -0.0003  100.0
2                 1            1               3    -0.0043     0.0003  100.0
3                 1            1               4     0.0007     0.0000  100.0
4                 1            1               5    -0.0019    -0.0002  100.0
...             ...          ...             ...        ...        ...    ...
160354          708          249             251     9.9998     0.2500  100.0
160355          708          249             252     0.0028     0.0015  100.0
160356          708          249             253     0.0029     0.0000  100.0
160357          708          249             254    35.0046     0.8400  100.0
160358          708          249             255    42.0030     0.8400  100.0

        FanInTemp  LPCompOT  HPCompOT  LPTurbineOT  ...  RFuelFlow
0          518.67    641.82   1589.70      1400.60  ...     521.66  \
1          518.67    642.15   1591.82      1403.14  ...     522.28
2          518.67    642.35   1587.99      1404.20  ...     522.42
3          518.67    642.35   1582.79      1401.87  ...     522.86
4          518.67    642.37   1582.85      1406.22  ...     522.19
...           ...       ...       ...          ...  ...        ...
160354     489.05    605.33   1516.36      1315.28  ...     380.16
160355     518.67    643.42   1598.92      1426.77  ...     535.02
160356     518.67    643.68   1607.72      1430.56  ...     535.41
160357     449.44    555.77   1381.29      1148.18  ...     187.92
160358     445.00    549.85   1369.75      1147.45  ...     134.32

        CorrectedFanSpeed  CorrectedCoreSpeed  BypassRatio
0                 2388.02             8138.62       8.4195  \
1                 2388.07             8131.49       8.4318
2                 2388.03             8133.23       8.4178
3                 2388.08             8133.83       8.3682
4                 2388.04             8133.80       8.4294
...                   ...                 ...          ...
160354            2388.73             8185.69       8.4541
160355            2388.46             8185.47       8.2221
160356            2388.48             8193.94       8.2525
160357            2388.83             8125.64       9.0515
160358            2388.66             8144.33       9.1207

        BurnerFuelAirRatio  BleedEnthalpy  ReqFanSpeed  ReqFanConvSpeed
0                     0.03            392         2388            100.0  \
1                     0.03            392         2388            100.0
2                     0.03            390         2388            100.0
3                     0.03            392         2388            100.0
4                     0.03            393         2388            100.0
...                    ...            ...          ...              ...
160354                0.03            372         2319            100.0
160355                0.03            396         2388            100.0
160356                0.03            395         2388            100.0
160357                0.02            337         2223            100.0
160358                0.02            333         2212            100.0

        HPTurbineCoolAirFlow  LPTurbineAirFlow
0                      39.06           23.4190
1                      39.00           23.4236
2                      38.95           23.3442
3                      38.88           23.3739
4                      38.90           23.4044
...                      ...               ...
160354                 29.11           17.5234
160355                 39.38           23.7151
160356                 39.78           23.8270
160357                 15.26            9.0774
160358                 10.66            6.4341

[160359 rows x 27 columns]

In [83]:
fd_001_rul=pd.read_csv("rul_fd001.txt",sep=" ",header=None)
fd_001_rul

      0   1
0   112 NaN
1    98 NaN
2    69 NaN
3    82 NaN
4    91 NaN
..  ...  ..
95  137 NaN
96   82 NaN
97   59 NaN
98  117 NaN
99   20 NaN

[100 rows x 2 columns]

In [84]:
fd_001_rul.drop(columns=[1],inplace=True)
fd_001_rul

      0
0   112
1    98
2    69
3    82
4    91
..  ...
95  137
96   82
97   59
98  117
99   20

[100 rows x 1 columns]

In [120]:
def read_data3():
    import os
    cwd=os.getcwd()

    columns = ['rul']
    fd_001_rul=pd.read_csv("rul_fd001.txt",sep=" ",header=None)
    fd_002_rul= pd.read_csv("rul_fd002.txt", sep=" ", header=None)
    fd_003_rul= pd.read_csv("rul_fd003.txt", sep=" ", header=None)
    fd_004_rul= pd.read_csv("rul_fd004.txt", sep=" ", header=None)

    fd_001_rul.drop(columns=[1],inplace=True)
    fd_002_rul.drop(columns=[1],inplace=True)
    fd_003_rul.drop(columns=[1],inplace=True)
    fd_004_rul.drop(columns=[1],inplace=True)

    fd_001_rul.columns=columns
    fd_002_rul.columns=columns
    fd_003_rul.columns=columns
    fd_004_rul.columns=columns


    frames = [fd_001_rul,fd_002_rul , fd_003_rul, fd_004_rul]
    result3 = pd.concat(frames,ignore_index=True)

    result3["id"] = 0
    result3.iloc[0:100,[1]] = 1
    result3.iloc[100:361,[1]] = 2
    result3.iloc[361:459,[1]] = 3
    result3.iloc[459:711,[1]] = 4

    #id = pd.concat(frames,ignore_index=True)
    #result3.insert(loc = 1,
          #column = 'rul',
          #value = id)
    result3["id"]
    #print(result3)
    return fd_001_rul,fd_002_rul,fd_003_rul,fd_004_rul,result3

In [121]:
rul_1,rul_2,rul_3,rul_4,result3=read_data3()
result3

     rul  id
0    112   1
1     98   1
2     69   1
3     82   1
4     91   1
..   ...  ..
702   35   4
703  131   4
704  194   4
705  112   4
706   26   4

[707 rows x 2 columns]

In [122]:
result.to_csv('test_data.csv', encoding ="utf-8" ,  index=False)
result2.to_csv('train_data.csv', encoding ="utf-8" ,  index=False)
result3.to_csv('rul_data.csv', encoding ="utf-8" ,  index=False)